<nb-card status="success">
  <nb-card-header>
      <nb-card-body>
          <h3>My Courses</h3>
      </nb-card-body>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="handleSelected($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- chat begins -->
<nb-card status="danger">
  <nb-card-header>
    <nb-card-body>
        <h5>{{cname}}</h5>
    </nb-card-body>
</nb-card-header>
<div class="row">
  <div class="col-md-6">

      <div class="content">
          <div class="scroll">
            <div *ngFor="let item of chatData.slice().reverse()">
              
              <div *ngIf="item.sender == senderData.name; then thenBlock else elseBlock"></div>

                <ng-template #thenBlock>
                  <div class="container darker">
                    <img src="{{userPic}}" alt="Avatar" class="right" style="width:100%;">
                    <h6>{{item.sender}}</h6>
                    <p>{{item.msg}}</p>
                    <span class="time-left">{{item.timestring}}</span>
                  </div> 
                </ng-template>

                <ng-template #elseBlock>
                  <div class="container">
                    <img src="{{item.pic}}" alt="Avatar" style="width:100%;">
                    <h6>{{item.sender}}</h6>
                    <p>{{item.msg}}</p>
                    <span class="time-right">{{item.timestring}}</span>
                  </div>
                </ng-template>

            </div>
          </div>
            
        
        <div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >

            <input class="input" type="text" nbInput fullWidth placeholder="Type message here..." formControlName="msg">

            <div class="d-flex flex-row-reverse">
              <div class="p-2">
                <button  nbButton status="primary" hero [disabled]="form.invalid">Send</button>
              </div>

            </div>

          </form>  
        </div>
      </div>
</div>
  
<div class="col-md-6">
  <div class="scroll">
    <div *ngFor="let item of upData.slice().reverse()">
            <div class="list-group">
              <a class="list-group-item list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{item.name}}</h5>
                  <small style="color: rgb(125, 53, 193);" >{{item.timestring}}</small>
                </div>
                <p class="mb-1" style="color: rgb(29, 47, 62);" >{{item.des}}</p>
                <div class="d-flex w-100 justify-content-between">
                  <a href="{{item.file}}" target="_blank" style="text-decoration:none" ><small style="color: rgb(125, 53, 193);" >Download</small></a>
                  <!-- Button trigger modal -->
                  <button #box value="{{item.name}}" type="button" style="font-size: smaller;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getUpName(box.value)">
                    SUBMIT
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Submission Form</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="subForm" (ngSubmit)="submit()">
                            <div class="form-group">
                              <input type="text" class="form-control" nbInput fullWidth placeholder="Index Number" formControlName="name"
                              [placeholder] = "
                                               name.touched && name.invalid
                                                 ? 'Index Number Required!'
                                                 : 'Index Number'
                                             "
                              [status]= " name.touched && name.invalid ? 'danger' : 'primary' " >                            
                            </div>
                            <div class="form-group">
                              <textarea type="text" class="form-control" nbInput fullWidth placeholder="Comment" formControlName="des" ></textarea>                          
                            </div>                               
                            <div class="form-groups">
                                <input type="file" class="form-control" (change)="upload($event)"
                                       nbInput fullWidth placeholder="Select file here..."
                                       formControlName="file" id="file" aria-label="File browser example" >
                            </div>
                  
                              <div class="form-groups d-flex flex-row-reverse">
                                <div class="p-2">
                                  <button  nbButton status="primary" class="btn btn-primary" hero [disabled]="subForm.invalid">Submit</button>
                                </div> 
                              </div>         
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                </a>
            </div>
            <br>   
    </div>
  </div>
</div>
</div>
</nb-card> 

