<nb-card>
  <nb-card-header>
      <nb-card-body>
          <h3>My Courses</h3>
      </nb-card-body>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="handleSelected($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- chat begins -->
<nb-card>
  <nb-card-header>
    <nb-card-body>
      <h3>Chat Messages - {{cname}}</h3>
    </nb-card-body>
  </nb-card-header>

<div class="content">
    <div class="scroll">
      <div *ngFor="let item of chatData.slice().reverse()">
        
        <div *ngIf="item.sender == senderData.name; then thenBlock else elseBlock"></div>

          <ng-template #thenBlock>
            <div class="container darker">
              <img src="../../../../assets/images/jack.png" alt="Avatar" class="right" style="width:100%;">
              <h6>{{item.sender}}</h6>
              <p>{{item.msg}}</p>
              <span class="time-left">{{item.timestring}}</span>
            </div> 
          </ng-template>

          <ng-template #elseBlock>
            <div class="container">
              <img src="../../../../assets/images/nick.png" alt="Avatar" style="width:100%;">
              <h6>{{item.sender}}</h6>
              <p>{{item.msg}}</p>
              <span class="time-right">{{item.timestring}}</span>
            </div>
          </ng-template>

      </div>
    </div>
      
  
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >

      <input class="input" type="text" nbInput fullWidth placeholder="Type message here..." formControlName="msg">

      <div class="d-flex flex-row-reverse">
        <div class="p-2">
          <button  nbButton status="primary" hero [disabled]="form.invalid">Send</button>
        </div>

      </div>

    </form>  
  </div>
</div>
</nb-card>