<nb-card>
    <nb-card-header>
        <nb-card-body>
            <h3>My Courses</h3>
        </nb-card-body>
    </nb-card-header>
   
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="handleSelected($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card> 
   
  <!-- chat begins -->
  
        <nb-card>
          <nb-card-header>
            <nb-card-body>
              <h4>{{cname}}</h4>
            </nb-card-body>
          </nb-card-header>

          <div class="row">
            <div class="col-md-6">
        <div class="content">
            <div class="scroll">
              <div *ngFor="let item of chatData.slice().reverse()">
                
                <div *ngIf="item.sender == senderData.name; then thenBlock else elseBlock"></div>
        
                  <ng-template #thenBlock>
                    <div class="container darker">
                      <img src="../../../../assets/images/jack.png" alt="Avatar" class="right" style="width:100%;">
                      <h6>{{item.sender}}</h6>
                      <p>{{item.msg}}</p>
                      <span class="time-left">{{item.timestring}}</span>
                    </div> 
                  </ng-template>
        
                  <ng-template #elseBlock>
                    <div class="container">
                      <img src="../../../../assets/images/nick.png" alt="Avatar" style="width:100%;">
                      <h6>{{item.sender}}</h6>
                      <p>{{item.msg}}</p>
                      <span class="time-right">{{item.timestring}}</span>
                    </div>
                  </ng-template>
        
              </div>
            </div>
              
          
          <div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" >
        
              <input class="input" type="text" nbInput fullWidth placeholder="Type message here..." formControlName="msg">
        
              <div class="d-flex flex-row-reverse">
                <div class="p-2">
                  <button  nbButton status="primary" hero [disabled]="form.invalid">Send</button>
                </div>
        
              </div>
        
            </form>  
          </div>
        </div>
        </div>


        <!-- exam mark's form begins -->
        <div class="col-md-6">
          <br>
          <h5>Exam Marks Form</h5>
          <form [formGroup]="examForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
              <label for="colFormLabel" class="col-sm-5 col-form-label">Exam Name</label>
              <div class="col-sm-6">
                <input type="text" nbInput fullWidth placeholder="Exam Name" formControlName="examName"
                     [placeholder] = "
                     examName.touched && examName.invalid
                                        ? 'Exam Name Required!'
                                        : 'Exam Name'
                                    "
                     [status]= " examName.touched && examName.invalid ? 'danger' : 'primary' " class="form-control">
              </div>
            </div>
            <br>
            <h6>Student List</h6>
            <div *ngFor="let item of stuData">
              <div class="form-group row">
                <label for="colFormLabel" class="col-sm-5 col-form-label">{{item.sid}} - {{item.name}}</label>
                <div class="col-sm-3">
                  <input type="number" min="0" max="100" class="form-control" id="marks" placeholder="Marks" formControlName="marks"
                          [placeholder] = "
                          marks.touched && marks.invalid
                                                ? 'Marks Required!'
                                                : 'Marks'
                                            "
                          [status]= " marks.touched && marks.invalid ? 'danger' : 'primary' " class="form-control">
                </div>
              </div>
            </div>
            <br>

            <div class="form-group row">
              <label for="colFormLabel" class="col-sm-5 col-form-label">Description</label>
              <div class="col-sm-6">
                <textarea rows="5" nbInput fullWidth shape="round"
                          placeholder="Description" formControlName="des">
                </textarea>
              </div>
            </div>
              
              <div class="d-flex flex-row-reverse">
                  <div class="p-2">
                    <button  nbButton status="primary" hero [disabled]="examForm.invalid">Submit</button>
                  </div> 
              </div> 
                      
          </form>
        </div>
        </div> 
        </nb-card>