body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../../bgpics.jpg");
  // background-image: url("../../assets/images/back.jpg");

  /* Control the height of the image */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  max-width: 500px;
  padding: 16px;
  background-color: white;
}

.form-container {
  height: 100%;
  display: grid;
  align-content: center;
  .form-container-inner {
    .formclass {
      margin: auto;
    }
  }
}

/* Full-width input fields */
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px;
  border: none;
  background: #f1f1f1;
}

input[type='text']:focus,
input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #7f1bc2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.button {     
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
  color: #45c8d1;      
}

.button :hover {
  background-color: #7f1bc2;
  color: #7f1bc2;
}

h1 {
  color: #7f1bc2;
  align-content: center;

}

h1:hover {
  color: #d145c5;

}

h6 {
  color: #9613e2;
  align-content: center;

}

h6:hover {
  color: #e63535;

}
.a {
  color: rgb(234, 0, 255);

}
a :hover {
  color: wheat;

}
