
<nb-card>
    <nb-card-header>
        <nb-card-body>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" (click)=status1changes()>
              <input type="radio" name="options" id="option1" autocomplete="off" checked> All Courses
            </label>
            <label class="btn btn-secondary" (click)=status2changes()>
              <input type="radio" name="options" id="option2" autocomplete="off"> My Courses
            </label>
          </div>
            <!-- <button class="button button1 btn btn-outline-primary" (click)=status1changes()>All Courses</button>
            <button class="button button1 btn btn-outline-primary" (click)=status2changes()>My Courses</button> -->
        </nb-card-body>
    </nb-card-header>
 
    <nb-card-body>
      <!-- all courses -->
      <div *ngIf="status1">
        <nb-card-header>
              <h5>All Courses</h5>
      </nb-card-header>
        <ng2-smart-table [settings]="settings1" [source]="source1" (custom)="onSaveConfirm($event)" ></ng2-smart-table>
      </div>

      <!-- my courses -->
      <div *ngIf="status2">
        <nb-card-header>
              <h5>My Courses</h5>
      </nb-card-header>
        <ng2-smart-table [settings]="settings2"  [source]="source2" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
      </div>
    </nb-card-body>
</nb-card>